# --- Archivos de video ---
*.mp4

# --- Archivos de Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# --- Entornos virtuales ---
.venv/
venv/
ENV/
env/
env.bak/

# --- Archivos de configuración ---
*.ini
*.log
*.pot
*.pyc
*.pkl

# --- Archivos de IDE ---
.vscode/
.idea/
*.swp
*.swo

# --- Archivos de sistemas operativos ---
.DS_Store
Thumbs.db

# --- Archivos de compilación ---
build/
dist/
.eggs/
